body{
    font-size: 15px;
    font-family: 'Overpass', sans-serif;
    background-image: url('');
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(216, 12%, 8%);
}
.card-1{
    position: relative;
    margin: 10px;
    border-radius: 20px;
    background-color: hsl(213, 19%, 18%);
    height: 310px;
    width: 290px;
    
}
#card-2{
    position: relative;
    margin: 10px;
    border-radius: 20px;
    background-color: hsl(213, 19%, 18%);
    width: 290px;
    height: 300px;
}

h5{
    color: hsl(0, 0%, 100%);
    font-size: 22px;
    margin-left: 25px;
}
p{
    color:  hsl(217, 12%, 63%);
    font-size: 15px;
    margin-left: 25px;
    position: relative;
    bottom: 20px;
}
.submit-button{
    background-color: hsl(25, 97%, 53%);
    color: hsl(0, 0%, 100%); 
    border: none;
    width: 260px;
    border-radius: 30px;
    height: 30px;
    font-size: 13px;
    position: absolute;
    top: 260px;
    left: 22px;
}
.confirmation{
    color: hsl(25, 97%, 53%);
    font-size: 10px;
    
}
h6{
    color: hsl(0, 0%, 100%); 
}
.rating-buttons{
position: relative;
left: 26px;
top:-20px;
}
.btn{
    border-radius: 50%;
    border: none;
    color: hsl(217, 12%, 63%); 
    background-color: hsl(213, 19%, 26%);
    margin: 5px;
    height: 35px;
    width: 35px;
    
}
.star-icon{
    border-radius: 50%;
    border: solid 7px  hsl(217, 12%, 30%);
    background-color:  hsl(217, 12%, 30%);
    width: 12px;
    height: 12px;
    position: relative;
    left: 22px;
    top:15px;
}
#thank-you-img{
    position: relative;
    left: 50px;
    margin-top: 30px;
    margin-bottom: 5px;
}
.con-div{
    border-radius: 10px;
    width: 160px;
    height: 24px;
    background-color:  hsl(217, 12%, 28%);
    position: inherit;
    left:60px;

}
.confirmation{
    padding: 7px;
    margin-left: 16px;
}
.text-container2{
    text-align: center;
}
.farewell{
    font-size: 11px;
    position: relative;
    bottom: 70px;
    right:10px;
    
}
.thanks{
    font-size: 20px;
    position: relative;
    bottom: 30px;
}